# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

MY_VAR="/home/user/my/system/path"
COMET_API_TOKEN="comet_token_here"
WANDB_API_KEY="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"