# https://hydra.cc/docs/configure_hydra/intro/

# enable color logging
defaults:
  - override hydra_logging: colorlog
  - override job_logging: colorlog

# output directory, generated dynamically on each run
# Format: {dataset}_{model}_{timestamp}
# Example: autism_bilstm_2025-12-06_14-30-45
run:
  dir: ${paths.log_dir}/${task_name}/runs/${data.name}_${model.name}_${now:%Y-%m-%d_%H-%M-%S}
sweep:
  dir: ${paths.log_dir}/${task_name}/multiruns/${data.name}_${model.name}_${now:%Y-%m-%d_%H-%M-%S}
  subdir: ${hydra.job.num}

job_logging:
  handlers:
    file:
      # Incorporates fix from https://github.com/facebookresearch/hydra/pull/2242
      filename: ${hydra.runtime.output_dir}/${task_name}.log
