# @package _global_

# example hyperparameter optimization with Optuna:
# python train.py -m hparams_search=optuna experiment=dense

defaults:
  - override /hydra/sweeper: optuna

# choose metric which will be optimized by Optuna
# make sure this is the correct name of some metric logged in lightning module!
optimized_metric: "avg_test/acc"  # Using averaged test accuracy across folds for k-fold CV

# here we define Optuna hyperparameter search
# it optimizes for value returned from function with @hydra.main decorator
# docs: https://hydra.cc/docs/next/plugins/optuna_sweeper
hydra:
  mode: "MULTIRUN" # set hydra to multirun by default if this config is attached

  sweeper:
    _target_: hydra_plugins.hydra_optuna_sweeper.optuna_sweeper.OptunaSweeper

    # storage URL to persist optimization results
    # for example, you can use SQLite if you set 'sqlite:///optuna.db'
    storage: null

    # name of the study to persist optimization results
    study_name: hyperparameter_optimization

    # number of parallel workers
    n_jobs: 1

    # 'minimize' or 'maximize' the objective
    direction: maximize

    # total number of runs that will be executed
    n_trials: 30

    # choose Optuna hyperparameter sampler
    # you can choose bayesian sampler (tpe), random search (without optimization), grid sampler, and others
    # docs: https://optuna.readthedocs.io/en/stable/reference/samplers.html
    sampler:
      _target_: optuna.samplers.TPESampler
      seed: 12345
      n_startup_trials: 10 # number of random sampling runs before optimization starts

    # define hyperparameter search space
    params:
      # Optimizer learning rate
      model.optimizer.lr: interval(0.0001, 0.01)
      model.optimizer.weight_decay: interval(0.00001, 0.001)
      
      # Batch size
      data.batch_size: choice(16, 32, 64, 128)
      
      # Model architecture (for dense networks)
      # model.net.hidden_sizes: choice([512, 256, 128], [256, 128, 64], [1024, 512, 256, 128])
      model.net.dropout: interval(0.1, 0.5)
      
      # Scheduler parameters
      model.scheduler.patience: choice(3, 5, 7, 10)
      model.scheduler.factor: choice(0.3, 0.5, 0.7)
