_target_: src.models.mnist_module.MNISTLitModule

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.001
  weight_decay: 0.0

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.1
  patience: 10

net:
  _target_: src.models.components.lstm_net.LSTMNet
  input_size: 28  # Width of MNIST image (each row is a timestep)
  hidden_size: 128
  num_layers: 2
  output_size: 10
  dropout: 0.2

# compile model for faster training with pytorch 2.0
compile: false
